<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erick Alvarez</title>

    <link rel="stylesheet" href="./styles/about.css" />
  </head>
  <body>
    <!-- header start -->
    <header>
      <!-- navbar start -->
      <%- include("./partials/nav"); %>
      <!-- <nav>
        <ul class="nav-links">
          <li><a href="/#web-dev">Web Dev</a></li>
          <li><a href="/#music">Music</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </nav> -->
      <!-- navbar end -->

      <div class="intro-container">
        <h1 class="intro-greeting">
          Hi, I'm <span class="erick">Erick Alvarez</span>
        </h1>
        <div class="intro-titles">
          <h2 class="intro-web-dev">Web Developer</h2>
          <h2 class="intro-music-producer">Music Producer</h2>
        </div>
        <img id="intro-img" src="./imgs/erick.JPG" alt="erick in LA" />
      </div>
    </header>
    <!-- header end -->

    <section class="about">
      <div class="skills-container">
        <div class="web-skills">
          <span class="skill">Python</span>
          <span class="skill">HTML</span>
          <span class="skill">CSS</span>
          <span class="skill">JavaScript</span>
          <span class="skill">Node.js</span>
          <span class="skill">Figma</span>
          <span class="skill soon">MongoDB</span>
          <span class="skill soon">TypeScipt</span>
          <span class="skill soon">PostgreSQL</span>
          <span class="skill soon">React</span>
          <span class="skill soon">Angular</span>
        </div>
        <div class="music-skills">
          <span class="skill">FL Studio</span>
          <span class="skill soon">Ableton</span>
          <span class="skill soon">Pro Tools</span>
          <span class="skill">Alto Saxophone</span>
          <span class="skill">Ukulele</span>
          <span class="skill">Bass</span>
          <span class="skill soon">Piano</span>
          <span class="skill soon">Guitar</span>
        </div>
      </div>
      <div class="about-text">
        <h4 class="about-header">About Erick</h4>
        <p>
          Erick is a proud Southern California native from Whittier, CA. He
          received his Bachelors in International Studies - Business at the
          University of California, San Diego. Since graduating, Erick has spent
          his time working in Finance as a portfolio manager as well as a
          freelance web developer in San Francisco, CA.
        </p>
        <h4 class="about-header">As a Developer</h4>
        <p>
          Erick is a proud Southern California native from Whitter, CA. He
          received his Bachelors in International Studies - Business at the
          University of California, San Diego. Since graduating, Erick has spent
          his time working in Finance as a portfolio manager as well as a
          freelance web developer in San Francisco, CA.
        </p>
        <h4 class="about-header">As a Producer</h4>
        <p>
          Having always had an ear for music, Erick spent the majority of his
          childhood in band learning to play the alto saxophone. It wasn’t until
          his final year in college when he decided to pick up music production
          and beat making. He's dedicated hours to learning the mechanics of
          music theory and picking up new instruments. While he has not achieved
          Wheezy status, he hopes to improve his skills and a producer and
          vocalist and give back to the music producer community.
        </p>
      </div>
    </section>

    <!-- footer start -->
    <footer id="contact">
      <!-- <div class="name-container"> -->
      <div class="name-container">
        <span class="first">Erick</span><span class="last">Alvarez</span>
        <p>&copy; 2022, Built and designed by</p>
        <p class="name">Erick Alvarez</p>
      </div>
      <div class="contact-links">
        <p>Get in touch</p>
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/erick505alvarez"
              target="_blank"
              ><ion-icon name="logo-linkedin"></ion-icon
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/_seekayy/" target="_blank"
              ><ion-icon name="logo-instagram"></ion-icon
            ></a>
          </li>
          <li>
            <a href="https://github.com/seekay505" target="_blank"
              ><ion-icon name="logo-github"></ion-icon
            ></a>
          </li>
          <li>
            <a
              href="mailto:erickalvarezwebdev@gmail.com?Subject=Website%20Request"
              target="_blank"
              ><ion-icon name="mail"></ion-icon
            ></a>
          </li>
        </ul>
      </div>
      <!-- </div> -->
    </footer>
    <!-- footer end -->

    <!-- icons scipts start -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!-- icons scripts end -->
  </body>
</html>
