<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Erick Alvarez</title>

    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <!-- header start -->
    <header>
      <h1>Hi, I'm <span>Erick</span></h1>
      <div class="header-design"></div>
      <img id="erick-img" src="/imgs/erick.JPG" alt="erick in LA" />
    </header>
    <!-- header end -->
    <!-- navbar start -->
    <nav>
      <a class="logo" href="#">Erick Alvarez</a>
      <ul class="nav-links">
        <li><a href="#">Web Dev</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <a href="#"><button class="contact">Contact</button></a>
    </nav>
    <!-- navbar end -->

    <h1>Erick Alvarez Personal Website</h1>
  </body>
</html>
